In [3]:
""" Pandas: Introduction
The pandas is an open source data analysis and manipulation tool,
built on top of the Python programming language.
Used in data pre-processing, plotting, descriptive statistics  
Two basic data structures: Series and Data Frame
"""

' Pandas: Introduction\nThe pandas is an open source data analysis and manipulation tool,\nbuilt on top of the Python programming language.\nUsed in data pre-processing, plotting, descriptive statistics  \nTwo basic data structures: Series and Data Frame\n'

In [6]:
import pandas as pd

listSeries = [1, 2, -3, 4.5, "Python"]
print(listSeries)

##[1, 2, -3, 4.5, 'Python']
##dtype: object

seriesPanda1 = pd.Series(listSeries)
print(seriesPanda1)
print(type(seriesPanda1))

[1, 2, -3, 4.5, 'Python']
0         1
1         2
2        -3
3       4.5
4    Python
dtype: object
<class 'pandas.core.series.Series'>

In [8]:
seriesPanda2 = pd.Series([1,2,3,5])
print(seriesPanda2)

""" Series with customized indexing"""
seriesPanda3 = pd.Series([1,2,3,-5.5], index = ['a','b','c','d'])
print(seriesPanda3)

""" Mentioned the data type and the series name"""
seriesPanda4 = pd.Series([1,2,3,5], dtype = float, name = "Series Panads Data")
print(seriesPanda4)


seriesPanda5 = pd.Series(8, index = [1,2,3])
print(seriesPanda5)

0    1
1    2
2    3
3    5
dtype: int64 a    1.0
b    2.0
c    3.0
d   -5.5
dtype: float64
0    1.0
1    2.0
2    3.0
3    5.0
Name: Series Panads Data, dtype: float64
1    8
2    8
3    8
dtype: int64

In [9]:
""" Dictionary use"""
seriesPanda6 = pd.Series({'x':10, 'y':11,})
print(seriesPanda6)

seriesPanda7 = pd.Series([10,20,30,40])
seriesPanda8 = pd.Series([1,2,3,4])
seriesPanda9 = pd.Series([1,2])

""" Print the value of an index"""
print("The value of 1st index: ",seriesPanda7[1])
##The value of 1st index:  2

""" Addition of two series"""
print(seriesPanda7 + seriesPanda8)

x    10
y    11
dtype: int64
The value of 1st index:  20
0    11
1    22
2    33
3    44
dtype: int64

In [ ]:
""" To get maximum and minimum """
print("Minimum, Maximum & Sum: ", min(seriesPanda7),max(seriesPanda7),sum(seriesPanda7))
#Minimum, Maximum & Sum:  10 40 100

""" Print on conditions"""
print(seriesPanda7[seriesPanda7<30])

## Data Frame

In [10]:
"""##   Data Frame ###"""
""" Pandas: Introduction (Part 2)
The pandas is an open source data analysis and manipulation tool,
built on top of the Python programming language.
Used in data pre-processing, plotting, descriptive statistics  
Two basic data structures: Series and Data Frame

pd.DataFrame(data, index (Optional), columns (Optional), dtype (Optional), copy(optional))
"""
""" Create an empty data frame"""

' Create an empty data frame'

In [11]:
dfPanda1 = pd.DataFrame()
print(dfPanda1) # Empty data frame

dfPanda2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(dfPanda2)

dfPanda3 = pd.DataFrame({'Sr':[1,2,3,4]})
print(dfPanda3)

dfPanda4 = pd.DataFrame({'ID':['a','b','c','d'], 'Sr':[1,2,3,4]})
print(dfPanda4)

dfPanda5 = pd.DataFrame([{'x':1,'y':2},{'x':11,'y':12},{'x':22,'y':23}])
print(dfPanda5)

dfPanda6 = pd.DataFrame({'A':pd.Series([10,11,12]),'B':pd.Series(['x','y','z'])})
print(dfPanda6)

Empty DataFrame
Columns: []
Index: []
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   Sr
0   1
1   2
2   3
3   4
  ID  Sr
0  a   1
1  b   2
2  c   3
3  d   4
    x   y
0   1   2
1  11  12
2  22  23
    A  B
0  10  x
1  11  y
2  12  z

## Create a student.csv or .txt file as below

In [12]:
#  Roll    Name Class  Gender    X  Marks
#0     1    Asha    BE  Female  Yes     75
#1     2  Kishor    ME    Male   No     86
#2     3    Lata    BE  Female  Yes     96
#3     4    Rafi    ME    Male   No     90
#4     5  Rahman    BE    Male  Yes     85

In [ ]:
pDataFile = pd.read_csv('C:\\MachineLearning\\Data\\student.txt')
pDataFile = pd.read_csv('C:\\MachineLearning\\Data\\Student.csv')

print(pDataFile)

print(type(pDataFile))
#<class 'pandas.core.frame.DataFrame'>

""" Display column name only"""
print(pDataFile.columns)     # To dipslay column names
#Index(['Roll', 'Name', 'Class', 'Gender', 'X', 'Marks'], dtype='object')


""" Dipslay only the first row"""
pDataFile = pd.read_csv('C:\\MachineLearning\\Data\\Student.csv',nrows = 1)
print(pDataFile)
#   Roll  Name Class  Gender    X  Marks
#0     1  Asha    BE  Female  Yes     75

""" Display the first row and two columns"""
pDataFile = pd.read_csv('C:\\MachineLearning\\Data\\Student.csv',nrows = 1, usecols = [1,3])
print(pDataFile)
#   Name  Gender
#0  Asha  Female

""" Display the rows but skip the first row"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', skiprows = 1)
print(pDataFile)
#   1    Asha  BE  Female  Yes  75
#0  2  Kishor  ME    Male   No  86
#1  3    Lata  BE  Female  Yes  96
#2  4    Rafi  ME    Male   No  90
#3  5  Rahman  BE    Male  Yes  85

""" Display the rows but skip the the specified rows"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', skiprows = [1,3])
print(pDataFile)
#   Roll    Name Class Gender    X  Marks
#0     2  Kishor    ME   Male   No     86
#1     4    Rafi    ME   Male   No     90
#2     5  Rahman    BE   Male  Yes     85

""" Customized indexing"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', index_col = 'Roll')
print(pDataFile)
#        Name Class  Gender
#Roll                      
#1       Asha    BE  Female
#2     Kishor    ME    Male
#3       Lata    BE  Female
#4       Rafi    ME    Male

""" Define any particular row as header"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', header = 2)
print(pDataFile)
#   2  Kishor  ME    Male   No  86
#0  3    Lata  BE  Female  Yes  96
#1  4    Rafi  ME    Male   No  90
#2  5  Rahman  BE    Male  Yes  85

""" If no header is present in any file"""
pDFile = pd.read_csv('C:\MachineLearning\Data\StudentNC.csv', header = None)
print(pDFile)
#   0       1   2       3    4   5
#0  1    Asha  BE  Female  Yes  75
#1  2  Kishor  ME    Male   No  86
#2  3    Lata  BE  Female  Yes  96
#3  4    Rafi  ME    Male   No  90
#4  5  Rahman  BE    Male  Yes  85

""" No header with prefixed with column"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\StudentNC.csv', 
                        prefix = 'column',header = None)
print(pDataFile)
#   column0 column1 column2 column3 column4  column5
#0        1    Asha      BE  Female     Yes       75
#1        2  Kishor      ME    Male      No       86
#2        3    Lata      BE  Female     Yes       96
#3        4    Rafi      ME    Male      No       90
#4        5  Rahman      BE    Male     Yes       85


pDataFile = pd.read_csv('C:\MachineLearning\Data\StudentNC.csv', 
                        names = ['A','B','C','D','E', 'F'])
print(pDataFile)
#   A       B   C       D    E   F
#0  1    Asha  BE  Female  Yes  75
#1  2  Kishor  ME    Male   No  86
#2  3    Lata  BE  Female  Yes  96
#3  4    Rafi  ME    Male   No  90
#4  5  Rahman  BE    Male  Yes  85

""" Print only few lines from the top"""
print(pDataFile.head(3))
#   A       B   C       D    E   F
#0  1    Asha  BE  Female  Yes  75
#1  2  Kishor  ME    Male   No  86
#2  3    Lata  BE  Female  Yes  96

""" Print only few lines from the bottom"""
print(pDataFile.tail(2))
#   A       B   C     D    E   F
#3  4    Rafi  ME  Male   No  90
#4  5  Rahman  BE  Male  Yes  85

""" Data File with changed data type"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', 
                        dtype = {'Roll':float})
print(pDataFile)
#   Roll    Name Class  Gender    X  Marks
#0   1.0    Asha    BE  Female  Yes     75
#1   2.0  Kishor    ME    Male   No     86
#2   3.0    Lata    BE  Female  Yes     96
#3   4.0    Rafi    ME    Male   No     90
#4   5.0  Rahman    BE    Male  Yes     85

""" Convert any value to true or false"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', 
                        true_values = ['Yes'], false_values = ['No'])
print(pDataFile)
#   Roll    Name Class  Gender      X  Marks
#0     1    Asha    BE  Female   True     75
#1     2  Kishor    ME    Male  False     86
#2     3    Lata    BE  Female   True     96
#3     4    Rafi    ME    Male  False     90
#4     5  Rahman    BE    Male   True     85

# To write file, to store into disk
pDataFile.to_csv('C:\MachineLearning\Data\StudentUpdated1.csv', 
                 index = False)
pDataFile.to_csv('C:\MachineLearning\Data\StudentUpdated2.txt', 
                 index = False, header = False)


""" To print the dimesnion of the data file"""
pDataFile = pd.read_csv('C:\MachineLearning\Data\Student.csv', 
                        true_values = ['Yes'], false_values = ['No'])
print(pDataFile)
#   Roll    Name Class  Gender      X  Marks
#0     1    Asha    BE  Female   True     75
#1     2  Kishor    ME    Male  False     86
#2     3    Lata    BE  Female   True     96
#3     4    Rafi    ME    Male  False     90
#4     5  Rahman    BE    Male   True     85

print("To print number of rows and columns: ",pDataFile.shape)
#To print number of rows and columns:  (5, 6)

print("Dispaly number of elements: ",pDataFile.size)
#Dispaly number of elements:  30

print("Display the memory usage of each column in bytes.\n: ",pDataFile.memory_usage())
#Display the memory usage of each column in bytes.:  Index     128
#Roll       40
#Name       40
#Age        40
#Class      40
#Gender     40
#X           5
#Marks      40
#Salse      40
#dtype: int64

#Access a single value for a row/column label pair.
print(pDataFile)
#   Roll    Name  Age Class  Gender      X  Marks  Salse
#0     1    Asha   21    BE  Female   True     75      1
#1     2  Kishor   21    ME    Male  False     86      2
#2     3    Lata   23    BE  Female   True     96      3
#3     4    Rafi   24    ME    Male  False     90      4
#4     5   Kalam   20    BE    Male   True     85      5
print(pDataFile.at[4, 'Name'])
#Kalam

pDataFile.at[4, 'Name'] = 'Irfan'
print(pDataFile.at[4, 'Name'])

print(pDataFile.iat[4, 1])


for row in pDataFile.itertuples(name='Name'):
    print(row)
#
#Name(Index=0, Roll=1, Name='Asha', Class='BE', Gender='Female', X=True, Marks=75)
#Name(Index=1, Roll=2, Name='Kishor', Class='ME', Gender='Male', X=False, Marks=86)
#Name(Index=2, Roll=3, Name='Lata', Class='BE', Gender='Female', X=True, Marks=96)
#Name(Index=3, Roll=4, Name='Rafi', Class='ME', Gender='Male', X=False, Marks=90)
#Name(Index=4, Roll=5, Name='Rahman', Class='BE', Gender='Male', X=True, Marks=85)

""" To insert a column into existing data frame"""
pDataFile.insert(6, 'Hobby', ['S','C','F','H','S']) 
print(pDataFile)

pDataFile.insert(2, 'Phone', [1,2,3,4,5]) 
print(pDataFile)

""" To delete any column"""
pDataFile.pop('class')

"""To convert into latex"""
print(pDataFile.to_latex(index=False))  

#\begin{tabular}{rllllr}
#\toprule
# Roll &    Name & Class &  Gender &      X &  Marks \\
#\midrule
#    1 &    Asha &    BE &  Female &   True &     75 \\
#    2 &  Kishor &    ME &    Male &  False &     86 \\
#    3 &    Lata &    BE &  Female &   True &     96 \\
#    4 &    Rafi &    ME &    Male &  False &     90 \\
#    5 &  Rahman &    BE &    Male &   True &     85 \\
#\bottomrule
#\end{tabular}

""" To store as excel file"""

df1 = pd.DataFrame([['Himachal', 'Nepal'], ['Kedarnath', 'Pashupatinath']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df1.to_excel("C:\MachineLearning\Data\shiva.xlsx")